@charset "utf-8";

.main {
  position: relative;
  margin-left: 300px;
  padding: 20px;
}

.main > ul {
  position: relative;
  width: 100%;
  margin-bottom: 10px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 1.5rem;
}

.main > ul > li {
}

.main > ul > li > a {
  display: flex;
  line-height: 1;
  width: 8rem;
  height: 2.7rem;
  font-size: 1rem;
  justify-content: center;
  align-items: center;
  color: #aaa;
  box-shadow: 0 0 10px rgba(114, 114, 114, 0.3);
  border-radius: 0.5rem;
  background-color: #fff;
}

.sorting li:hover a {
  color: #fff;
  background: linear-gradient(80deg, #cccfff, #ffcccc);
}

.sorting li.on a {
  background: linear-gradient(to top, #cccfffbd, #ffcccca8);
}

.section {
  position: relative;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.section article {
  position: relative;
  width: 20%;
  padding: 1.2rem;
}

.section article div {
  position: relative;
  width: 100%;
  height: 100%;
  border-radius: 0.5rem;
  box-shadow: 0 0 10px rgba(114, 114, 114, 0.3);
  padding: 10px;
}

.section article div img {
  width: 100%;
  filter: grayscale(1);
}

.section article:hover div img {
  filter: grayscale(0);
}

.section article div h2 {
  padding: 5px 0 5px 3px;
  font-size: 1.5rem;
}

.section article div p {
  font-size: 0.93rem;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  line-clamp: 2;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
